{% extends '::base.html.twig' %}

{% block title %}
Rss Reader
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets output='css/*.css' filter='yui_css,cssrewrite'
					'bundles/pascalfeeddisplayer/css/doc.css'
					'bundles/pascalfeeddisplayer/css/bootstrap.min.css'
					'bundles/pascalfeeddisplayer/css/bootstrap-responsive.min.css' %}
	{# If your files are in web/css/, call them with: 'css/mystyle.css' #}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts output='js/compressed.js' filter='yui_js'
		'@PascalFeedDisplayerBundle/Resources/public/js/jquery.min.js'
		'@PascalFeedDisplayerBundle/Resources/public/js/bootstrap.min.js'
		'@PascalFeedDisplayerBundle/Resources/public/js/newEntriesChecker.coffee'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				Feed reader
			</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav hidden-phone">
			{% block sidebar %}
			{% endblock %}
			</div>
		</div>
		<div class="span9">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}