<ul class="nav nav-list">
	<li class="active">
		<a href="">
			<i class="icon-home icon-white"></i>
			Inbox
		</a>
	</li>

	<li class="nav-header">
		<i class="icon-th-list"></i>
		Sources
	</li>
	<li><a href="">Rss feed entries</a></li>
	<li><a href="">Twitter entries</a></li>

	<li class="nav-header">
		<i class="icon-tags"></i>
		Tags
	</li>
	<li><a href="">javascript</a></li>
	<li><a href="">php</a></li>
	<li><a href="">scala</a></li>
	<li><a href="">java</a></li>
	<li><a href="">groovy</a></li>
</ul>